/* html { */
/*     color-scheme: light dark; */
/* } */

body {
    font-family: system-ui;
    line-height: 1.5;
}

img, svg, video {
    max-width: 100%;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 750px;
    margin: auto;
}

.post-detail {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0090e6;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar > li {
    float: left;
}

.navbar > li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

/* Dark mode: white text color */
@media (prefers-color-scheme: dark) {
    a {
        color: #878cff;
    }
    .navbar > li a {
        color: white;
    }
}

/* syntax highlighter settings */
td.rouge-gutter {
    padding: 0 0.7em;
    /* disable selection on line number */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rouge-gutter > .lineno { opacity: 0.4;}
code.highlighter-rouge {
  font-size: 90%;
  color: #e83e8c;
  word-break: break-word
}
