<footer>
    <hr style="margin: 2em 0; color: lightgray;"/>
    <p style="color: gray;">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
</footer>

{% if page.math %}
    <!--Enable automatic numbering. See http://docs.mathjax.org/en/latest/tex.html#automatic-equation-numbering-->
    <script>
        MathJax = {
            tex: {
                tags: 'ams', // equation automatic numbering https://docs.mathjax.org/en/latest/input/tex/eqnumbers.html
                inlineMath: [['$', '$']],
            }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

{% comment %}
vim: set ft=liquid:
{% endcomment %}
