---
layout: default
---

<div class="post-detail">
    <h1 style="margin-bottom: 0">{{ page.title }}</h1>
    <p style="margin-top: 0">Posted on {{ page.date | date: "%A, %b %-d, %Y" }}</p>
</div>
<div class="content">
    {% if page.hidden == true %}
        <p align="center"><em>This page is hidden on the home page.</em></p>
    {% endif %}
    {{ content }}
</div>

<div class="page-navigation">
    {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>

{% comment %}
vim: set ft=liquid:
{% endcomment %}
